<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" type="text/css" th:href="@{/cssBootstrap/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <title>Register</title>
</head>
<body>
<div style="border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  width:850px;">
  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <form
              method="post"
              role="form"
              th:action="@{/registration}"
              th:object="${user}"
      >
        <h1>Create a new user</h1>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            Registration successful
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" id="name" name="name" type="text">
          <p class="text-danger" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" name="email" type="email">
          <p class="text-danger" th:errors="*{email}"
             th:if="${#fields.hasErrors('email')}"></p>
        </div>
        <div class="mb-3">
          <label class="col-sm-2 col-form-label" for="password">Password</label>
          <input class="form-control" id="password" name="password" type="password">
          <p class="text-danger" th:errors="*{password}"
             th:if="${#fields.hasErrors('password')}"></p>
        </div>
        <div class="mb-3">
          <label class="col-sm-2 col-form-label" for="role">Role</label>
          <select class="selectpicker form-control" id="role" name="role">
            <option value="ROLE_USER">ROLE_USER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          </select>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" style="width: 150px;" type="submit">Register</button> or
          <a class="link-primary" th:href="@{/login}">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>